.about-block
  %h2#about.section-title -About-
  .quick-bio
    .bio-list
      .bio-item.programming
        .icon-container
          %img.bio-icon{:src => asset_path('file-browser.png')}
        .description
          %strong Programming stuff:
          %span Something something put a bird onit
      .bio-item.job
        .icon-container
          %img.bio-icon{:src => asset_path('id.png')}
        .description
          %strong Job:
          %span I'm a front end developer at <a target="_blank" href="http://akta.com/">ÄKTA</a> in Chicago, IL
      .bio-item.hometown
        .icon-container
          %img.bio-icon{:src => asset_path('home.png')}
        .description
          %strong Hometown:
          %span Born in Aberdeen, Scotland and moved to Houston, TX when I was eleven
      .bio-item.android
        .icon-container
          %img.bio-icon{:src => asset_path('mobile.png')}
        .description
          %strong Currently learning:
          %span Android! My first Android app, Lobster Dog, was met with great commercial success
      .bio-item.photography
        .icon-container
          %img.bio-icon{:src => asset_path('polaroid.png')}
        .description
          %strong Education:
          %span I majored in photography at St. Edward's University in Austin, TX
      .bio-item.videogames
        .icon-container
          %img.bio-icon{:src => asset_path('games.png')}
        .description
          %strong Games I'm currently playing:
          %span Telltale's Game of Thrones, Zelda: A Link Between Worlds, and Hearthstone
      .bio-item.travel
        .icon-container
          %img.bio-icon{:src => asset_path('location.png')}
        .description
          %strong Travel:
          %span I like to travel and put a bird on it
      .bio-item.languages
        .icon-container
          %img.bio-icon{:src => asset_path('comments.png')}
        .description
          %strong Languages:
          %span Over the years I studied French, Arabic, German, and Russian. I've forgotten the majority of it...
