.about-block
  %h2#about.section-title About
  .container.bio-snippet-container
    .bio-snippet-row
      .paragraph
        Hi! I'm Annabel and this is my online portfolio.  I'm a front-end web developer with a mobile-first mentality.
        I believe in clean and semantic HTML and well-organized CSS and JavaScript. I enjoy collaborating with other people,
        <span class="stress">love</span> learning new skills, and never hesitate to tackle new technologies (I'm currently
        learning iOS development in my spare time).

  .quick-facts
    .triangle
    .fact-list
      .bio-item
        .icon-container
          %img.bio-icon{:src => asset_path('location.svg')}
        .description
          .header Places
          .item I've lived in many places- Scotland, England, Texas, and of course, Chicago!
      .bio-item
        .icon-container
          %img.bio-icon{:src => asset_path('code-white.svg')}
        .description
          .header Work
          .item I'm a software engineer at Slalom Consulting in Chicago, IL.
      .bio-item
        .icon-container
          %img.bio-icon.photo{:src => asset_path('photography.svg')}
        .description
          .header College
          .item I graduated from St. Edward's University in Austin, TX with a degree in photography.
      .bio-item
        .icon-container
          %img.bio-icon{:src => asset_path('books.svg')}
        .description
          .header Hobbies
          .item I love reading, playing video games, and, when the opportunity presents itself, snowboarding.
