.about-block
  %h2#about.section-title About
  .container.bio-snippet-container
    .bio-snippet-row
      .paragraph
        Hi! I'm Annabel and this is my online portfolio.  I'm a front-end web developer by day and currently
        learning Android in my spare time. Something about mobile-first blah blah put a bird on it. I'm a
        strong believer in semantic markup and well-organized CSS. Something about passion for design and
        communication. Maybe something about cross-browser testing. Boom.
  .quick-facts
    .triangle
    .fact-list
      .bio-item.wow.fadeInLeft
        .icon-container
          %img.bio-icon{:src => asset_path('location.svg')}
        .description
          .header Places
          .item I've lived in a lot of places- Scotland, England, Texas, and of course, Chicago!
      .bio-item.wow.fadeInLeft
        .icon-container
          %img.bio-icon{:src => asset_path('code-white.svg')}
        .description
          .header Work
          .item I'm a front end developer at <a target="_blank" href="#akta">ÄKTA</a> in Chicago, IL
      .bio-item.wow.fadeInRight
        .icon-container
          %img.bio-icon.photo{:src => asset_path('photography.svg')}
        .description
          .header College
          .item I graduated from St. Edward's University in Austin, TX with a degree in <a href="#photography">photography</a>
      .bio-item.wow.fadeInRight
        .icon-container
          %img.bio-icon{:src => asset_path('books.svg')}
        .description
          .header Hobbies
          .item Reading (see what I'm currently reading on <a href="#contact">Goodreads!</a>), playing video games, yoga
