.about-block
  %h2#about.section-title About
  .container.bio-snippet-container
    .bio-snippet-row
      .paragraph No, no, no. A vigilante is just a man lost in scramble for his own gratification. He can be destroyed or locked up. But if you make yourself more than just a man, if you devote yourself to an idel and if they can't stop you then you become something else entirely. Legend, Mr Wayne.
  .quick-facts
    .triangle
    .fact-list
      .bio-item
        .icon-container
          %img.bio-icon{:src => asset_path('location.svg')}
        .description
          .header Places
          .item I've lived in a lot of places- Scotland, England, Texas, and of course, Chicago!
      .bio-item
        .icon-container
          %img.bio-icon{:src => asset_path('code-white.svg')}
        .description
          .header Work
          .item I'm a front end developer at <a target="_blank" href="#akta">ÄKTA</a> in Chicago, IL
      .bio-item
        .icon-container
          %img.bio-icon.photo{:src => asset_path('photography.svg')}
        .description
          .header College
          .item I graduated from St. Edward's University in Austin, TX with a degree in <a href="#photography">photography</a>
      .bio-item
        .icon-container
          %img.bio-icon{:src => asset_path('books.svg')}
        .description
          .header Hobbies
          .item Reading (see what I'm currently reading on <a href="#contact">Goodreads!</a>), playing video games, yoga
