.contact-block
  %h2#contact.section-title { Contact }

  .contact-content
    .container
      .row
        .col-lg-4.col-lg-offset-6
          %a{href: 'https://twitter.com/smallishlemur'}
            %img.twitter-img{:src => asset_path("twitter.png", :target => '_blank' )}
        .col-lg-4
          %a{href: 'www.linkedin.com/in/annabeldunstone/'}
            %img.linkedin-img{:src => asset_path("linkedin.png")}
        .col-lg-4
          %a{href: 'https://github.com/annabeldunstone'}
            %img.github-img{:src => asset_path("github.png")}