.navbird-desktop
  %ul.nav.navbar-content
    .content-left
      %li
        %a.home{href: '/'}
          = image_tag "apple-touch-icon-180x180.png", class: "icon" 
          Annabel Dunstone

    .content-right
      %li
        %a.work{href: '/work'} Work
      %li
        %a.photography{href: '/photography'} Photography
      %li
        %a.blog{href: '/blog'} Blog
      %li
        %a.contact{href: '/contact'} Contact
