.navbird
  %button.navbar-toggle
    .menu Menu

  %ul.nav.navbar-content
    %li
      %a{href: '#index'} Home
    %li
      %a{href: '#about'} About
    %li
      %a{href: '#work'} Recent Work
    %li
      %a{href: 'photography'} Photography
    %li
      %a{href: 'contact'} Blog
    %li
      %a{href: '#contact'} Contact
