.container.navbird-desktop
  %ul.nav.navbar-content
    .content-left
      %li
        %a.home{href: '/'}
          = image_tag "apple-touch-icon-180x180.png", class: "icon"
          %span.home-text Annabel Dunstone Gray

    .content-right
      = nav_link('Work', work_path, 'work')
      = nav_link('books', books_path, 'books')
      = nav_link('Photography', photography_path, 'photography')
