.photography-block
  %h2#about.section-title Photography
  .triangle
  .container.photography-container
    .photography-row
      = image_tag "photography-images.png", class: "photography-images"
      .paragraph No, no, no. A vigilante is just a man lost in scramble for his own gratification. He can be destroyed or locked up. But if you make yourself more than just a man, if you devote yourself to an idel and if they can't stop you then you become something else entirely. Legend, Mr Wayne. Something Smithsonian