.photography-block#photography
  %h2#about.section-title Photography
  .triangle
  .container.photography-container
    .photography-row
      = image_tag "photography-images.png", class: "photography-images"
      .paragraph
        Coming from a photography background is one of my greatest strengths as a developer, as it gives me
        greater insight into how to collaborate with designers. Additionally, my knowledge of basic design principles
        as well as prototyping and editing tools allows me to create the UI for my own projects.

        Photography has taken a back seat to coding over the last couple years (there are just so many new things to learn!),
        but I hope to get back into it soon. I'm currently in the process of transferring my work to this site, but
        for now you can view some of my photography
        = link_to "here.", "http://www.annabeldunstone.co.uk/", class: 'photography-link', target: "_blank"