.work-block
  %h2#work.section-title -Recent Work-

  .work-item
    .container
      .row
        .col-md-12.project-column
          %a{href: 'https://secondsource.herokuapp.com', :target=> '_blank'}
            %h3.pinguino Pingüino
            %img{:src => asset_path("pinguino.png")}
        .col-md-12.project-column
          %a{href: 'https://scorpioncrossfit.net', :target=> '_blank'}
            %h3.crossfit Scorpion Crossfit
            %img{:src => asset_path("macbook-crossfit.png")}

  .work-item
    .container
      .row
        .col-md-12.project-column
          %a{href: 'https://secondsource.herokuapp.com', :target=> '_blank'}
            %h3.secondsource SecondSource
            %img{:src => asset_path("macbook-secondsource.png")}
        .col-md-12.project-column
          %a{href: 'https://akta.com', :target => '_blank'}
            %h3.akta ÄKTA
            %img{:src => asset_path("akta.png")}