.work-block
  %h2#work.section-title -Recent Work-

  .container-fluid
    .row
      .col-md-12.project-column.masterlock
        %a{href: 'https://secondsource.herokuapp.com', :target=> '_blank'}
          %h3.pinguino Masterlock
      .col-md-12.project-column.scorpioncf
        %a{href: 'https://scorpioncrossfit.net', :target=> '_blank'}
          %h3.crossfit Scorpion Crossfit
      .col-md-12.project-column.akta
        %a{href: 'https://akta.com', :target => '_blank'}
          %h3.akta ÄKTA
      .col-md-12.project-column.secondsource
        %a{href: 'https://secondsource.herokuapp.com', :target=> '_blank'}
          %h3.secondsource SecondSource
