.headline-blog
  .container
    .section-title
      .text-column
        .header Blog
        .text
          Coming from a photography background is one of my greatest strengths as a developer, as it gives me greater insight into how to collaborate with designers. Additionally, my knowledge of basic design principles as well as prototyping and editing tools al