<div class="scout-container">
    <form class="help-scout-form" id="form">
        <label class="help-scout-form__label" for="answer">Type something longer than 8 characters:</label>
        <input class="help-scout-form__input" type="text" placeholder="e.g. 'Annabel is cool'" id="answer" autofocus><br>
        <%= image_tag 'check.svg', class: "help-scout-form__check" %>
    </form>
</div>
