#index
  .index-row
    .computer
      = image_tag "me.png"
    .text
      .name Annabel Dunstone
      .title.developer Front End Engineer
      .title.designer Occasional Designer
      .title.photographer Amateur Photographer
      .title.baker Experimental Baker
      .title.reader Avid Reader

/ = render "partials/about"
