.rectangle

  .block.flex-direction-initial
    .flex-1.hide-small
    .name-block.flex-1
      .name.name-1 annabel
      .name.name-2 dunstone
      .name.name-3 gray

  .block.shape-block
    = image_tag "shape.svg"

  .block
    .skills-block.flex-1.align-self-end
      .skill product designer
      .skill frontend engineer
      .skill amateur photographer
      .skill experimental baker
      .skill avid reader
    .flex-1.hide-small
