#index
  .text-fill
    %span.text-background
      JavaScript • jQuery • haml • HTML5 • PHOTOSHOP • SCSS • ANGULAR.JS • RUBY •
      RAILS • C++(just kidding) • LESS • postgresql • PHP • WORDPRESS •
      Java(nur ein bisschen) • SWIG • FINAL CUT PRO • InDesign • PIVOTAL •
      BUZZWORDS • COFFEESCRIPT • V1 •
      GRUNT • GIT • cross-browser-testing • AGILE • photography • SASS • IE8(fun!) •
      ANDROID • STUDIO LIGHTING • sinatra • CSS3 • AJAX • ACTIVERECORD •
      JavaScript • jQuery • haml • HTML5 • PHOTOSHOP • SCSS • ANGULAR.JS • RUBY •
      RAILS • C++(just kidding) • LESS • postgresql • PHP • WORDPRESS •
      Java(nur ein bisschen) • SWIG • FINAL CUT PRO • InDesign • PIVOTAL •
      BUZZWORDS • COFFEESCRIPT • V1 •
      GRUNT • GIT • cross-browser-testing • AGILE • photography • SASS • IE8(fun!) •
      ANDROID • STUDIO LIGHTING • sinatra • CSS3 • AJAX • ACTIVERECORD •
      JavaScript • jQuery • haml • HTML5 • PHOTOSHOP • SCSS • ANGULAR.JS • RUBY •
      RAILS • C++(just kidding) • LESS • postgresql • PHP • WORDPRESS •
      Java(nur ein bisschen) • SWIG • FINAL CUT PRO • InDesign • PIVOTAL •
      BUZZWORDS • COFFEESCRIPT • V1 •
      GRUNT • GIT • cross-browser-testing • AGILE • photography • SASS • IE8(fun!) •
      ANDROID • STUDIO LIGHTING • sinatra • CSS3 • AJAX • ACTIVERECORD

  .container
    .image-wrapper
      %img.bird-picture{:src => asset_path("edit.jpg")}
    .headline
      %h1.site-title ANNABEL DUNSTONE
      %h2.site-title Web Developer

%a.glyphicon.glyphicon-chevron-down.down-button{href: '#about'}


= render "partials/about"

= render "partials/work"

= render "partials/contact"


