.about-block {
  padding-top: 30px;
  position: relative;
  background-color: white;
  .bio-snippet-container {
    padding-bottom: 5px;
    .bio-snippet-row {
      @include make-row();
      position: relative;
      .paragraph {
        @include make-sm-column(24);
        color: $text-grey;
        font-size: 19px;
        font-weight: 100;
        .stress {
          font-weight: normal;
        }
      }
    }
  }
  .quick-facts {
    font-size: 16px;
    margin-top: 30px;
    background-color: white;
    color: $text-grey;
    font-weight: 400;
    padding: 40px 0 20px 0;
    position: relative;
    .triangle {
      @include triangle(0);
    }
    .fact-list {
      text-align: center;
    }
    .bio-item {
      text-align: center;
      max-width: 450px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 30px;
      padding: 0 1%;
      width: 23%;
      display: inline-block;
      vertical-align: top;
      @media (max-width: $screen-sm-min) {
        width: 49%;
      }
      .icon-container {
        background-color: $grey-color;
        padding: 20px;
        border-radius: 50%;
        display: inline-block;
        .bio-icon {
          height: 65px;
          &.photo {
            height: 55px;
            margin-bottom: 10px;
          }
        }
      }
      .header {
        margin-top: 20px;
        font-weight: 400;
        font-size: 20px;
        margin-bottom: 5px;
        color: $text-grey;
        text-transform: uppercase;
      }
      .item {
        font-weight: 100;
      }
    }
  }
}