.about-block {
  padding-top: 40px;
  position: relative;
  background-color: white;
  h2 {
    background-color: white;
    color: $seafoam-green;
  }
  .bio-snippet-container {
    padding-bottom: 45px;
    .bio-snippet-row {
      @include make-row();
      position: relative;
      .paragraph {
        @include make-sm-column(24);
        color: $text-grey;
        font-size: 19px;
        font-weight: 100;
      }
    }
  }
  .quick-facts {
    font-size: 16px;
    margin-top: 30px;
    background-color: $seafoam-green;
    color: white;
    font-weight: 400;
    padding: 50px 0 10px 0;
    position: relative;
    .triangle {
      @include triangle(0);
    }
    .fact-list {
      text-align: center;
    }
    .bio-item {
      text-align: center;
      max-width: 450px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 30px;
      padding: 0 1%;
      width: 49%;
      display: inline-block;
      vertical-align: top;
      @media (min-width: $screen-md-min) {
        width: 23%;
      }
      .icon-container {
        .bio-icon {
          height: 65px;
          &.photo {
            height: 55px;
            margin-bottom: 10px;
          }
        }
      }
      .header {
        margin-top: 20px;
        font-weight: 400;
        font-size: 20px;
        margin-bottom: 5px;
        color: ghostwhite;
        text-transform: uppercase;
        font-family: 'Roboto Slab', serif;
      }
      .item {
        letter-spacing: 0.4px;
        a {
          color: rgba(0, 0, 0, 0.43);
          font-weight: 400;
          color: white;
          border-bottom: 3px solid white;
        }
      }
    }
  }
}