.headline-books {
  background-color: $blueish-gray;
  margin-bottom: 30px;

  a {
    border-bottom: 2px solid $white;
    color: $white;
  }
}

.books-column {
  @media (max-width: 345px) {
    @include make-xs-column(24);
  }
  @include make-xs-column(12);
  @include make-sm-column(6);
}

.book {
  margin-bottom: 30px;
  text-align: center;
  padding: 15px;
  position: relative;
  background-color: $brand-grey-lighter;

  img {
    height: 180px;
    width: auto;
    margin-bottom: 6px;
  }

  .shop-link {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 50px 50px;
    border-color: transparent transparent darken($brand-grey-lighter, 5%) transparent;

    .glyphicon {
      color: darken($brand-grey-lighter, 20%);
      position: absolute;
      top: 28px;
      right: 7px;
    }

    &:hover {
      border-bottom-color: darken($brand-grey-lighter, 10%);

      .glyphicon {
        color: darken($brand-grey-lighter, 30%);
      }
    }
  }

  .date {
    font-size: 12px;
    color: $gray-text;
  }
}

.book-rating {

  .star {
    font-size: 20px;
    color: $empty-star-gray;
    margin: 0 -1px;
  }

  .star-full {
    color: $hcsc-orange;
  }
}

.year-buttons-container {
  padding: 0 15px 30px;

  @media (max-width: $screen-sm-max) {
    text-align: center;
  }

  .books-year {
    color: darken($blueish-gray, 12%);
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 4px;

    &:not(:last-of-type) {
      margin-right: 30px;
    }

    &.active {
      border-bottom: 2px solid;
    }

    &:hover {
      color: $blueish-gray;
    }
  }
}
