.headline-books {
  background-color: $blueish-gray;
  margin-bottom: 30px;

  a {
    border-bottom: 2px solid $white;
    color: $white;
  }
}

.books-column {
  @media (max-width: 345px) {
    @include make-xs-column(24);
  }
  @include make-xs-column(12);
  @include make-sm-column(6);
}

.book {
  margin-bottom: 30px;
  text-align: center;
  padding: 15px 15px 12px;
  min-height: 280px;
  position: relative;
  background-color: $brand-grey-lighter;

  &.featured {
    outline: 2px solid darken($brand-grey-lighter, 5%);
  }

  img {
    height: 180px;
    width: auto;
    margin-bottom: 6px;
  }

  .shop-link {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 50px 50px;
    border-color: transparent transparent darken($brand-grey-lighter, 5%) transparent;

    .glyphicon {
      color: darken($brand-grey-lighter, 20%);
      position: absolute;
      top: 28px;
      right: 7px;
    }

    &:hover {
      border-bottom-color: darken($brand-grey-lighter, 10%);

      .glyphicon {
        color: darken($brand-grey-lighter, 30%);
      }
    }
  }

  .date {
    font-size: 12px;
    color: $gray-text;
  }

  .review-link {
    color: $brand-blue;
    font-size: 12px;
  }
}

.book-rating {
  .star {
    font-size: 20px;
    color: $empty-star-gray;
    margin: 0 -1px;
  }

  .star-full {
    color: $hcsc-orange;
  }
}

.year-buttons-container {
  padding: 0 15px 30px;

  @media (max-width: $screen-sm-max) {
    text-align: center;
  }

  .books-year {
    color: $brand-blue;
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 4px;

    &:not(:last-of-type) {
      margin-right: 30px;
    }

    &.active {
      color: $brand-blue;
      border-bottom: 2px solid;
    }

    &:hover:not(.active) {
      color: lighten($brand-blue, 5%);
    }
  }
}


// Books show
.review-container {
  padding: 50px 0 80px 0;
  border-top: 2px solid lighten($blueish-gray, 20%);

  .review-column {
    @include make-lg-column-offset(4);
    @include make-lg-column(16);
    color: $brand-grey;

    .book-meta {
      @media (max-width: 550px) {
        text-align: center;

        img {
          float: none;
        }
      }
    }

    img {
      max-height: 250px;
      width: auto;
      border-radius: 4px;
      margin: 0 30px 20px 0;
      border: 12px solid $brand-grey;

      @media (min-width: $screen-xs-min) {
        float: left;
        max-height: 350px;
      }
    }

    .book-title {
      font-size: 20px;
      font-weight: 700;
    }

    .book-author {
      font-size: 17px;
    }

    .publisher {
      font-size: 16px;

      .shop-link {
        display: block;
        color: $brand-blue;
        margin-left: 4px;

        &:hover {
          color: lighten($brand-blue, 15%);
        }
      }
    }

    .quote {
      font-family: $serif-font;
      margin: 15px 0;
      font-size: 19px;
      font-style: italic;
      color: $brand-grey-light;
      position: relative;
    }

    .review {
      font-family: $serif-font;
      color: $brand-grey;
      font-size: 17px;
      line-height: 26px;
    }
  }
}
