.contact-block {
  position: relative;
  .section-title {
  }
	.triangle {
    @include triangle(93px);
  }
	.contact-content {
	  background-color: #2AC9B5;
    padding: 60px 0;
	  .twitter-img,
	  .linkedin-img,
	  .github-img {
	    max-width: 130px;
	  }
	}
}