#index {
  position: relative;
  z-index: 1;
  background-color: $white;
  text-align: center;

  .index-row {
    padding-top: 14em;

    @media (max-width: $screen-md-min) {
      padding-top: 7em;
    }

    @media (max-width: 535px) {
      padding-top: 2em;
    }

    .computer {
      width: 45%;
      float: left;
      text-align: right;

      img {
        width: auto;

        @media (min-width: $screen-md-min) {
          height: 295px;
        }

        @media (max-width: $screen-md-min) {
          height: 250px;
        }

        @media (max-width: 535px) {
          height: 160px;
        }
      }

      @media (max-width: $screen-md-min) {
        text-align: center;
        width: 100%;
        float: none;
      }
    }

    .text {
      color: $text-grey-lighter;
      width: 55%;
      float: left;
      text-align: left;
      font-family: 'Open Sans', serif;
      font-weight: 800;
      line-height: 1.0;
      font-size: 33px;
      text-transform: uppercase;

      @media (max-width: 535px) {
        font-size: 22px;
      }

      @media (min-width: $screen-md-min) {
        padding-left: 20px;
      }

      @media (max-width: $screen-md-min) {
        margin-top: 20px;
        text-align: center;
        padding-left: 0;
        width: 100%;
        float: none;
      }

      .name {
        color: $black;
        margin-bottom: 15px;
      }

      .title {

        &.developer {
          color: $brand-blue;
        }

        &.designer {
          color: $brand-orange;
        }

        &.photographer {
          color: $brand-purple;
        }

        &.baker {
          color: $brand-green;
        }

        &.reader {
          color: $brand-pink;
        }
      }
    }
  }
}

a {
  &:hover,
  &:active,
  &:visited,
  &:focus {
    color: white;
    text-decoration: none;
  }
}
