@import "bootstrap-overrides";

#index {
  //@media only screen and (min-width:100px) and (max-width:600px) {
  //  background-attachment: scroll;
  //}
  background-color: #363740;
  text-align: justify !important;
  color: white;
  position: relative;
  z-index: 1;
  overflow: hidden;
  -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.37);
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.37);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.37);
  .text-fill {
    position: absolute;
    left: 0;
    right: 0;
  }
  .text-background {
    color: rgb(70, 73, 85);
    position: absolute;
    text-align: justify;
    text-transform: uppercase;
  }
  .index-container {
    text-align: center;
    position: relative;
  }
  .image-wrapper {
    position: absolute;
    top: 0px;
    width:460px;
    margin-left:-230px;
    left: 50%;
    z-index:1;
    .bird-picture {
      height: 504px;
      border: 26px solid white;
      border-bottom: 70px solid white;
      -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.37);
      -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.37);
      box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.37);
    }
  }
  .headline {
    text-align: center;
    display: inline-block;
    position: relative;
    z-index: 10;
  }
  .site-title {
    background-color: $black-transparent;
    padding: 3px 6px;
    -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
  }
  .description {
    margin-bottom: 20px;
  }
  img.arrow-icon {
    width: auto;
  }
}
.down-button {
  position: absolute;
  text-align: center;
  top: 0px;
  width:80px;
  height:80px;
  border-radius: 50%;
  margin-left:-40px;
  left: 50%;
  z-index:1;
  background-color: #9C2327;
  color: white;
  font-size: 34px;
  padding-top: 28px;
  padding-left: 4px;
  -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.37);
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.37);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.37);
  transition: font-size 0.5s ease;
  &:hover {
    font-size: 42px;
  }
}

a {
  &:hover,
  &:active,
  &:visited,
  &:focus {
    color: white;
    text-decoration: none;
  }
}

@media (min-width:100px) and (max-width:600px) {
  #index {
    .image-wrapper {
      margin-top: -28px;
      .bird-picture {
        height: 300px;
      }
    }
  }
  .headline {
    .site-title {
      font-size: 22px;
    }
  }
}