@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800);

html,
body,
.content {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.content {
  position: relative;
}

.row {
  img {
    width: 100%;
  }
}

.section-title {
  background-color: white;
  color: $text-grey;
}

.section-title {
  padding: 40px 0px 30px 0px;
  text-align: center;
  letter-spacing: 3px;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  margin-bottom: 0 !important;
  margin-top: 0!important;
}

input,
.form-control,
.btn {
  &:focus,
  &:active,
  &:active:focus {
    box-shadow: none;
    outline: none;
  }
}

@mixin vertically-align() {
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin horizontally-align() {
  left: 50%;
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

@mixin triangle($top) {
  top: $top;
  @include horizontally-align();
  position: absolute;
  z-index: 1;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-top: 25px solid white;
}