body {
  font-family: 'Open Sans', sans-serif;
}

.content {
	position: relative;
}

.row {
  img {
    width: 100%;
  }
}

.section-title {
  padding: 30px 0px 30px 0px;
  background-color: $title-banner-background;
  text-align: center;
  margin-bottom: 0 !important;
  margin-top: 0!important;
}
