@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,700);

body {
  font-family: 'Open Sans', sans-serif;
}

.content {
	position: relative;
}

.section-title {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
}

.row {
  img {
    width: 100%;
  }
}

.section-title {
  padding: 30px 0px 30px 0px;
  text-align: center;
  margin-bottom: 0 !important;
  margin-top: 0!important;
}

@mixin vertically-align() {
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin horizontally-align() {
  left: 50%;
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

@mixin triangle($top) {
  top: $top;
  @include horizontally-align();
  position: absolute;
  z-index: 1;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-top: 25px solid white;
}