@import "bootstrap-overrides";

.navbird-desktop {
  position: relative;
  top: 0;
  z-index: 15;
  padding: 0;

  .navbar-content {
    background-color: $white;
    margin-top: 0;
    text-align: left;

    li {
      display: inline-block;
    }

    .icon {
      height: 40px;
      border-radius: 50%;
      margin-right: 3px;
    }

    .content-left {
      float: left;

      li {
        padding: 20px;
        @media (max-width: 510px) {
          padding-right: 0;
        }
      }
    }

    .content-right {
      float: right;
      @media (max-width: 860px) {
        padding-right: 20px;
      }

      li {
        padding: 29px 20px;

        a {
          font-weight: 500;
          color: $black;
        }

        &.active {
          a {
            border-bottom: 3px solid;
            text-decoration: none;
          }
        }

        &:hover:not(.active) {
          a {
            border-bottom: 3px solid $black;
            text-decoration: none;
          }
        }

        @media (max-width: 860px) {
          padding: 29px 10px;
        }

        &.photography {
          @media (max-width: 510px) {
            display: none;
          }
        }
      }
    }

    a {
      font-size: 16px;
      font-family: $sans-serif-font;
      font-weight: 700;
      text-transform: uppercase;

      @media (max-width: 510px) {
        font-size: 14px;
      }

      &.home {
        color: $black;

        &:hover {
          text-decoration: none;
        }

        .home-text {
          @media (max-width: $screen-sm-max) {
            display: none;
          }
        }
      }

      &:hover {
        background-color: transparent;
      }
    }
  }
}
