@import "bootstrap-overrides";

.navbird-desktop {
  position: relative;
  top: 0;
  z-index: 15;
  padding: 0;

  .navbar-content {
    margin-top: 0;
    background-color: $white;
    text-align: left;

    .content-left {
      float: left;
    }

    .content-right {
      float: right;

      li {
        padding: 27px 20px;
      }
    }

    li {
      padding: 20px;
      display: inline-block;

      a {
        color: gray;
        font-size: 16px;
        font-family: "Open Sans", sans-serif;
        font-weight: 700;
        text-transform: uppercase;

        &.home {
          color: $brand-teal;
        }

        &.work {
          color: $brand-purple;
        }

        &.photography {
          color: $brand-pink;
        }

        &.blog {
          color: $brand-green;
        }

        &.contact {
          color: $brand-blue;
        }
        
        &:hover {
          background-color: transparent;
        }
      }

      .icon {
        height: 40px;
        border-radius: 50%;
        margin-right: 3px;
      }
    }
  }

  @media (max-width: 860px) {
    display: none;
  }
}
