@import "bootstrap-overrides";

@mixin nav-links($link-primary) {
  a {
    color: $link-primary;
  }

  &.active {

    a {
      border-bottom: 3px dotted lighten($link-primary, 30%);
    }
  }
}

.navbird-desktop {
  position: relative;
  top: 0;
  z-index: 15;
  padding: 0;

  .navbar-content {
    background-color: $white;
    margin-top: 0;
    text-align: left;

    li {
      display: inline-block;
    }

    .icon {
      height: 40px;
      border-radius: 50%;
      margin-right: 3px;
    }

    .content-left {
      float: left;

      li {
        padding: 20px;
        @media (max-width: 510px) {
          padding-right: 0;
        }
      }
    }

    .content-right {
      float: right;
      @media (max-width: 860px) {
        padding-right: 20px;
      }

      li {
        padding: 29px 20px;

        @media (max-width: 860px) {
          padding: 29px 10px;
        }

        &.work {
          @include nav-links($brand-purple);
        }

        &.photography {
          @include nav-links($brand-pink);
            @media (max-width: 510px) {
              display: none;
            }
        }

        &.blog {
          @include nav-links($brand-green);
        }

        &.contact {
          @include nav-links($brand-blue);
        }
      }
    }

    a {
      font-size: 16px;
      font-family: "Open Sans", sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      @media (max-width: 510px) {
        font-size: 14px;
      }

      &.home {
        color: $brand-teal;

        .home-text {
          @media (max-width: $screen-sm-max) {
            display: none;
          }
        }
      }

      &:hover {
        background-color: transparent;
      }
    }

  }
}
