.photography-block {
  background-color: $brand-primary-grey-light;
  position: relative;
  .triangle {
    @include triangle(93px);
  }
  .photography-container {
    padding: 60px 15px;
  }
  .photography-row {
    @include make-row();
    .photography-images {
      width: 100%;
      height: auto;
    }
    .paragraph {
      @include make-sm-column(24);
      color: white;
      margin-top: 60px;
      font-size: 19px;
      font-weight: 100;
      .photography-link {
        font-style: italic;
        border-bottom: 2px solid white;
      }
    }
  }
}