.headline-photography {
  background-color: $brand-pink;
}

#lightgallery {
  margin: 40px 0;
  text-align: center;

  .image-thumbnail {
    height: 150px;
    width: auto;
    margin: 4px 2px;

    @media (max-width: 520px) {
      height: 100px;
    }
  }

}

.lg-image {
  max-height: 650px !important;
}