.work-block {
  position: relative;
  background-color: $brand-primary-grey-lighter;
  padding: 40px 0;

  @media (max-width:472px) {
    padding: 30px 0;
  }

  @media (max-width: 767px) {
    padding: 30px 20px;
  }

  .triangle {
    @include triangle(93px);
    z-index: 11;
  }

  .work-row {
    @include make-row();
    background-color: white;

    .project-column {
      @include make-md-column(12);
      padding: 0;
      height: 400px;
      position: relative;
      overflow: hidden;
      text-align: center;

      @media (max-width: $screen-md-min) {
        border: none;
      }

      img {
        @include vertically-align();
        height: 70%;
        width: auto;

        &.masterlock-image {
          width: 90%;
          height: auto;
          top: 0;
          transform: translateY(0);
          ms-transform: translateY(0);
          -webkit-transform: translateY(0);
        }
      }

      @media (max-width:472px) {
        height: 350px;

        img {
          height: 60%;

          &.masterlock-image {
            @include vertically-align();
            height: 75%;
            width: auto;
          }
        }
      }

      &.flo {
        background-color: $flo-pink;
      }

      &.masterlock {
        background-color: $masterlock-purple;
      }

      &.mycareer {
        background-color: $mycareer-blue;
      }

      &.scorpioncf {
        background-color: $crossfit-gold;
      }

      &.akta {
        background-color: $akta-red;
      }

      &.mercaris {
        background-color: $mercaris-green;
      }
    }
  }
}

@media (min-width:700px) and (max-width:992px) {
  .project-column {
    padding: 0 65px;
  }
}

//Work Overlays
.hover-tile-outer {
  padding: 0;

  .hover-tile-container {
    height: 400px;
    overflow: hidden;

    @media (max-width:472px) {
      height: 350px;
    }
  }

  .work-info-button {
    position: absolute;
    left: 18px;
    bottom: 20px;
    height: 56px;
    width: 56px;
    border-radius: 50%;
    z-index: 11;
    text-align: center;
    background-color: $brand-primary-grey-light;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    -moz-box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);

    &:hover,
    &:active {
      background-color: darken($brand-primary-grey-light, 3%);
    }

    &:hover {
      cursor: pointer;
      -moz-box-shadow: 0 0 4px rgba(0,0,0,.14),0 6px 10px rgba(0,0,0,.28);
      -webkit-box-shadow: 0 0 4px rgba(0,0,0,.14),0 6px 10px rgba(0,0,0,.28);
      box-shadow: 0 0 4px rgba(0,0,0,.14),0 6px 10px rgba(0,0,0,.28);
    }

    &:focus {
      border: none;
      outline: none;
    }

    .glyphicon-plus {
      position: absolute;
      font-size: 22px;
      color: white;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      height: 24px;
      width: 20px;
      -moz-transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }
  }

  .hover-tile-container {
    &.active-button {
      .work-info-button {
        background-color: white;

        &:hover {
          background-color: darken(white, 2%);
        }
      }

      .glyphicon-plus {
        -moz-transform:rotate(224deg);
        -webkit-transform:rotate(224deg);
        transform:rotate(224deg);

        &.flo {
          color: $flo-pink;
        }

        &.masterlock {
          color: $masterlock-purple;
        }

        &.mycareer {
          color: $mycareer-blue;
        }

        &.scorpioncf {
          color: $crossfit-gold;
        }

        &.akta {
          color: $akta-red;
        }

        &.mercaris {
          color: $mercaris-green;
        }
      }

      .hover-tile-hidden {
        height: 400px;
        -ms-transform: translate(0, -100%);
        -webkit-transform: translate(0, -100%);
        transform: translate(0, -100%);

        @media (max-width: 472px) {
          height: 350px;
        }
      }
    }
  }

  @media (min-width: $screen-md-min) {
    .hover-tile-container {
      &.active {
        .hover-tile-hidden {
          height: 400px;
          -ms-transform: translate(0, -100%);
          -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);

          @media (max-width: 472px) {
            height: 350px;
          }
        }
      }
    }
  }

  @media (max-width: $screen-md-min) {
    .work-info-button {
      display: block;
    }
  }

  .hover-tile {
    transition: all, 0.3s ease-in-out;
    padding: 0;
    background: inherit;
    color: white;
    height: inherit;
    overflow: hidden;
    position: relative;
  }

  .hover-tile-hidden {
    z-index:10;
    position: relative;

    @media (max-width: $screen-md-min) {
      border: none;
    }

    &.flo {
      background-color: darken($flo-pink, 5%);
    }

    &.masterlock {
      background-color: darken($masterlock-purple, 5%);
    }

    &.mycareer {
      background-color: darken($mycareer-blue, 5%);
    }

    &.scorpioncf {
      background-color: darken($crossfit-gold, 5%);
    }

    &.akta {
      background-color: darken($akta-red, 5%);
    }

    &.mercaris {
      background-color: darken($mercaris-green, 5%);
    }

    .tile-content {
      @include vertically-align();
      .work-name {
        font-size: 32px;
        margin-bottom: 30px;
        font-weight: 100;
      }

      a {
        border: 4px solid white;
        border-radius: 1px;
        font-size: 18px;
        font-weight: bold;
        color: white;
        width: 230px;
        text-transform: uppercase;
        background-color:transparent;
        text-decoration: none;
        transition: all 0.3s ease;

        &:hover {
          text-decoration: none;
          background-color: white;

          &.flo-btn {
            color: $flo-pink;
          }

          &.masterlock-btn {
            color: $masterlock-purple;
          }

          &.mycareer-btn {
            color: $mycareer-blue;
          }

          &.scorpioncf-btn {
            color: $crossfit-gold;
          }

          &.akta-btn {
            color: $akta-red;
          }

          &.mercaris-btn {
            color: $mercaris-green;
          }
        }
      }

      .coming-soon {
        font-size:15px;
        font-weight: 100;
        font-style: italic;
      }

      .header {
        margin-top: 30px;
        font-size: 18px;
        font-weight: 100;
      }

      .skills {
        font-size: 16px;
        font-family: 'Roboto Slab', serif;
        font-style: italic;
        padding: 5px 25px;
      }
    }
  }
}
