.work-block {
  position: relative;
  padding-bottom: 40px;

  @media (max-width: 767px) {
    padding: 0 20px 30px;
  }

  .work-row {
    @include make-row();
    background-color: white;

    .project-column {
      @include make-md-column(12);
      padding: 0;
      position: relative;
      overflow: hidden;
      text-align: center;

      @media (max-width: $screen-md-min) {
        border: none;
      }

      img {
        @include vertically-align();
        height: 70%;
        width: auto;

        &.masterlock-image {
          width: 90%;
          height: auto;
          top: 0;
          transform: translateY(0);
          ms-transform: translateY(0);
          -webkit-transform: translateY(0);
        }
      }

      @media (max-width:472px) {
        height: 340px;

        img {
          height: 60%;

          &.masterlock-image {
            @include vertically-align();
            height: 75%;
            width: auto;
          }
        }
      }
    }
  }
}

@media (min-width:700px) and (max-width:992px) {
  .project-column {
    padding: 0 65px;
  }
}

//Work Overlays
.hover-tile-outer {
  margin: 10px;
  border-radius: 3px;
  height: 400px;

  @media (max-width:472px) {
    height: 330px;
    margin: 10px 0;
  }

  &.flo {
    background-color: lighten($flo-pink, 10%);
  }

  &.masterlock {
    background-color: lighten($masterlock-purple, 10%);
  }

  &.mycareer {
    background-color: lighten($mycareer-blue, 10%);
  }

  &.scorpioncf {
    background-color: lighten($crossfit-gold, 10%);
  }

  &.akta {
    background-color: lighten($akta-red, 10%);
  }

  &.mercaris {
    background-color: lighten($mercaris-green, 10%);
  }

  &.lucid {
    background-color: lighten($lucid-blue, 10%);
  }

  &.hcsc {
    background-color: lighten($hcsc-orange, 10%);
  }

  &.dotrebate {
    background-color: lighten($dotrebate-purple, 10%);
  }

  &.johndeere {
    background-color: lighten($johndeere-green, 10%);
  }

  &.gitlab-com {
    background-color: lighten($gitlab-com-purple, 10%);
  }

  &.gitlab {
    background-color: lighten($gitlab-orange, 10%);
  }

  .hover-tile-container {
    height: 400px;
    overflow: hidden;

    @media (max-width:472px) {
      height: 330px;
    }
  }

  .work-info-button {
    position: absolute;
    left: 18px;
    bottom: 20px;
    height: 56px;
    width: 56px;
    border-radius: 50%;
    z-index: 11;
    text-align: center;
    background-color: $brand-grey-light;
    transition: background-color 0.1s ease-in-out;

    @media (max-width:472px) {
      left: 10px;
    }

    &:hover,
    &:active {
      background-color: darken($brand-grey-light, 8%);
    }

    &:hover {
      cursor: pointer;
    }

    &:focus {
      border: none;
      outline: none;
    }

    .glyphicon-plus {
      position: absolute;
      font-size: 22px;
      color: white;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      height: 24px;
      width: 20px;
      -moz-transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }
  }

  .hover-tile-container {
    &.active-button {
      .work-info-button {
        background-color: white;

        &:hover {
          background-color: darken(white, 2%);
        }
      }

      .glyphicon-plus {
        -moz-transform:rotate(224deg);
        -webkit-transform:rotate(224deg);
        transform:rotate(224deg);

        &.flo {
          color: $flo-pink;
        }

        &.masterlock {
          color: $masterlock-purple;
        }

        &.mycareer {
          color: $mycareer-blue;
        }

        &.scorpioncf {
          color: $crossfit-gold;
        }

        &.akta {
          color: $akta-red;
        }

        &.mercaris {
          color: $mercaris-green;
        }

        &.lucid {
          color: $lucid-blue;
        }

        &.hcsc {
          color: $hcsc-orange;
        }

        &.dotrebate {
          color: $dotrebate-purple;
        }

        &.johndeere {
          color: $johndeere-green;
        }

        &.gitlab-com {
          color: $gitlab-com-purple;
        }

        &.gitlab {
          color: $gitlab-orange;
        }
      }

      .hover-tile-hidden {
        height: 400px;
        border-radius: 3px;
        -ms-transform: translate(0, -100%);
        -webkit-transform: translate(0, -100%);
        transform: translate(0, -100%);

        @media (max-width: 472px) {
          height: 330px;
        }
      }
    }
  }

  @media (min-width: $screen-md-min) {
    .hover-tile-container {
      &.active {
        .hover-tile-hidden {
          height: 400px;
          -ms-transform: translate(0, -100%);
          -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);

          @media (max-width: 472px) {
            height: 340px;
          }
        }
      }
    }
  }

  @media (max-width: $screen-md-min) {
    .work-info-button {
      display: block;
    }
  }

  .hover-tile {
    transition: all, 0.3s ease-in-out;
    border-radius: 3px;
    padding: 0;
    background: inherit;
    color: white;
    height: inherit;
    overflow: hidden;
    position: relative;
  }

  .hover-tile-hidden {
    z-index:10;
    position: relative;

    @media (max-width: $screen-md-min) {
      border: none;
    }

    &.flo {
      background-color: darken($flo-pink, 5%);
    }

    &.masterlock {
      background-color: darken($masterlock-purple, 5%);
    }

    &.mycareer {
      background-color: darken($mycareer-blue, 5%);
    }

    &.scorpioncf {
      background-color: darken($crossfit-gold, 5%);
    }

    &.akta {
      background-color: darken($akta-red, 5%);
    }

    &.mercaris {
      background-color: darken($mercaris-green, 5%);
    }

    &.lucid {
      background-color: darken($lucid-blue, 5%);
    }

    &.hcsc {
      background-color: darken($hcsc-orange, 5%);
    }

    &.dotrebate {
      background-color: darken($dotrebate-purple, 5%);
    }

    &.johndeere {
      background-color: darken($johndeere-green, 5%);
    }

    &.gitlab-com {
      background-color: $gitlab-com-purple;
    }

    &.gitlab {
      background-color: $gitlab-orange;
    }

    .tile-content {
      @include vertically-align();
      .work-name {
        font-size: 30px;
        margin-bottom: 30px;
        font-weight: 500;
      }

      a {
        border: 4px solid white;
        border-radius: 1px;
        font-size: 17px;
        font-weight: bold;
        color: white;
        width: 230px;
        text-transform: uppercase;
        background-color:transparent;
        text-decoration: none;
        transition: all 0.3s ease;

        &:hover {
          text-decoration: none;
          background-color: white;

          &.flo-btn {
            color: $flo-pink;
          }

          &.masterlock-btn {
            color: $masterlock-purple;
          }

          &.mycareer-btn {
            color: $mycareer-blue;
          }

          &.scorpioncf-btn {
            color: $crossfit-gold;
          }

          &.akta-btn {
            color: $akta-red;
          }

          &.mercaris-btn {
            color: $mercaris-green;
          }

          &.hcsc-btn {
            color: $hcsc-orange;
          }

          &.gitlab-com-btn {
            color: $gitlab-com-purple;
          }

          &.gitlab-btn {
            color: $gitlab-orange;
          }
        }
      }

      .coming-soon {
        font-size:15px;
        font-weight: 100;
        font-style: italic;
      }

      .header {
        margin-top: 30px;
        font-size: 18px;
        font-weight: 200;
      }

      .skills {
        font-size: 16px;
        font-style: italic;
        padding: 5px 25px;
      }
    }
  }
}
