.work-block {
	color: $text-color;
  position: relative;
  .section-title {
    color: $text-grey;
    background-color: white;
  }
  .triangle {
    @include triangle(93px);
    z-index: 11;
  }
  .container-fluid {
    .work-row {
      @include make-row();
      background-color: white;
      .project-column {
        @include make-md-column(12);
        padding: 0;
        height: 400px;
        position: relative;
        overflow: hidden;
        text-align: center;
        border: 4px solid white;
        @media (max-width: $screen-md-min) {
          border: none;
        }
        img {
          @include vertically-align();
          height: 80%;
          width: auto;
          &.masterlock-image {
            width: 90%;
            height: auto;
            top: 0;
            transform: translateY(0);
            ms-transform: translateY(0);
            -webkit-transform: translateY(0);
          }
        }
        @media (max-width:472px) {
          height: 350px;
          img {
            height: 70%;
            &.masterlock-image {
              @include vertically-align();
              height: 85%;
              width: auto;
            }
          }
        }
        &.flo {
          background-color: $flo-pink;
          border-left: none;
          border-top: none;
        }
        &.masterlock {
          background-color: $masterlock-purple;
          border-top: none;
          border-right: none;
        }
        &.mycareer {
          background-color: $mycareer-blue;
          border-left: none;
        }
        &.scorpioncf {
          background-color: $crossfit-gold;
          border-right: none;
        }
        &.akta {
          background-color: $akta-red;
          border-left: none;
          border-bottom: none;
        }
        &.secondsource {
          background-color: $secondsource-green;
          border-right: none;
          border-bottom: none;
        }
      }
    }
  }
}
@media (min-width:700px) and (max-width:992px) {
  .project-column {
    padding: 0 65px;
  }
}


//Work Overlays
.hover-tile-outer {
  padding: 0;
  cursor: pointer;
  .hover-tile-container {
    height: 400px;
    overflow: hidden;
    @media (max-width:472px) {
      height: 350px;
    }
  }
  .glyphicon-remove {
    display: none;
    font-size: 25px;
    position: absolute;
    right: 25px;
    top: 25px;
  }
  .work-info-button {
    display: none;
    position: absolute;
    right: 30px;
    bottom: 30px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    z-index: 9;
    background-color: $seafoam-green;
    -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.37);
    -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.37);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.37);
    .glyphicon-plus {
      font-size: 25px;
      color: white;
    }
  }
  @media (max-width : $screen-md-max) {
    .hover-tile-container {
      &.active-button {
        .hover-tile-hidden {
          height: 400px;
          transform: translate(0, -100%);
          @media (max-width: 472px) {
            height: 350px;
          }
          .glyphicon-remove {
            display: block;
          }
        }
      }
    }
  }
  @media (min-width: $screen-md-min) {
    .hover-tile-container {
      &:hover,
      &.active {
        .hover-tile-hidden {
          height: 400px;
          transform: translate(0, -100%);
          @media (max-width: 472px) {
            height: 350px;
          }
        }
      }
    }
  }
  @media (max-width: $screen-md-min) {
    .work-info-button {
      display: block;
    }
  }
  .hover-tile {
    transition: all, 0.3s ease-in-out;
    padding: 0;
    background: inherit;
    color: white;
    height: inherit;
    overflow: hidden;
    position: relative;
  }
  .hover-tile-hidden {
    z-index:10;
    position: relative;
    @media (max-width: $screen-md-min) {
      border: none;
    }
    &.flo {
      background-color: $flo-pink;
    }
    &.masterlock {
      background-color: $masterlock-purple;
    }
    &.mycareer {
      background-color: $mycareer-blue;
    }
    &.scorpioncf {
      background-color: $crossfit-gold;
    }
    &.akta {
      background-color: $akta-red;
    }
    &.secondsource {
      background-color: $secondsource-green;
    }
    .tile-content {
      @include vertically-align();
      .work-name {
        font-size: 32px;
        margin-bottom: 30px;
        font-weight: 100;
      }
      a {
        border: 4px solid white;
        border-radius: 1px;
        font-size: 18px;
        font-weight: bold;
        color: white;
        width: 230px;
        text-transform: uppercase;
        background-color:transparent;
        text-decoration: none;
        &:hover {
          text-decoration: none;
          background-color: white;
          transition: all 0.5s ease;
          &.flo-btn {
            color: $flo-pink;
          }
          &.masterlock-btn {
            color: $masterlock-purple;
          }
          &.mycareer-btn {
            color: $mycareer-blue;
          }
          &.scorpioncf-btn {
            color: $crossfit-gold;
          }
          &.akta-btn {
            color: $akta-red;
          }
          &.secondsource-btn {
            color: $secondsource-green;
          }
        }
      }
      .coming-soon {
        font-size:15px;
        font-weight: 100;
        font-style: italic;
      }
      .header {
        margin-top: 30px;
        font-size: 18px;
        font-weight: 100;
      }
      .skills {
        font-size: 16px;
        font-family: 'Roboto Slab', serif;
        font-style: italic;
        padding: 5px 25px;
      }
    }
  }
}